@charset "UTF-8";

/*Todas as demais midias*/
/*TYPICAL DEVICE BREAKPOINTS*/

@media print{ /*impressão*/
    *{
        font-family: 'Courier New', Courier, monospace;
    }
   body{
    background-image: url(../imagens/back-print.jpg); /*o img na impressão é inutil*/
   }
   main{
    border: 2px solid black;
    width: 90vw;
   }
   main::after{
    content: 'Esta impressão foi feita através do meu site';
    text-decoration: overline;
   }
   main > h1{
    text-shadow: none;
    color: black;
    font-size: 16px;
   }
    

#icel{display: none;}
#itab{display: none;}
#iprin{display: block;}
#ipc{display: none;}
#itv{display: none;}
  
}
@media  screen and (min-width: 768px)  and (max-width: 992px){ /*tablet*/
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    main{
        width: 500px;
    }
    #icel{display: none;}
    #itab{display: block;}
    #iprin{display: none;}
    #ipc{display: none;}
    #itv{display: none;}
}
@media screen and (min-width: 992px) and (max-width: 1200px) { /*desktop*/
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    main{
        width: 600px;
    }
    #icel{display: none;}
    #itab{display: none;}
    #iprin{display: none;}
    #ipc{display: block;}
    #itv{display: none;}
}
@media screen and (min-width: 1200px){ /*telas grandes*/
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    main{
        width: 700px;
    }
    #icel{display: none;}
    #itab{display: none;}
    #iprin{display: none;}
    #ipc{display: none;}
    #itv{display: block;}
}